@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #f5ebec;
    --background: #070303;
    --primary: #fd6d6d;
    --secondary: #8f9f04;
    --accent: #896fb8;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
