@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #140a0b;
  --background: #fcf8f8;
  --primary: #920202;
  --secondary: #95c1cb;
  --accent: #604790;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f5ebec;
    --background: #070303;
    --primary: #fd6d6d;
    --secondary: #34606a;
    --accent: #896fb8;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--accent)
    )
    var(--background);
}
